<!DOCTYPE HTML>
<!-- 动态错误资源，动态优于静态，404.html优于 4xx.html -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染/templates/error/404</title>
    <link rel="icon" type="image/x-icon" href="/images/study.ico"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<p th:text="${url}"/>
<p th:text="${exception.message}"/>
<img src="http://www.cnlogo8.com/d/file/2019-08-24/06341fe79540add2ac16e580b20e0830.jpg?x-oss-process=style/w_775-h_auto" height="100px" width="100px" border="10px">
</body>
</html>